aliases.user.zsh
gitconfig.user
vim/backups
vim/bundle

### CONFIG DIR ###
# Ignore config by default
config/*

# Don't ignore these though
!config/nvim
!config/spaceship

# Ignore vim plugin installs
config/nvim/plugged

# Track undodir but not files inside it
!config/nvim/undodir/
config/nvim/undodir/*
!config/nvim/undodir/undodir.md

# Don't ignore config/ranger, do ignore bookmarks/history
!config/ranger
config/ranger/bookmarks
config/ranger/history

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Atom ###
atom/packages/**/*
atom/storage
atom/compile-cache
atom/blob-store/**/*
atom/.apm
atom/.node-gyp

### OSX ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

