[submodule "zprezto"]
	path = zprezto
	url = https://github.com/colepeters/prezto
[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/Vundle.vim
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
