aliases.user.zsh
gitconfig.user
vim/backups
vim/bundle
config/nvim/plugged
!config/nvim/undodir/
config/nvim/undodir/*
!config/nvim/undodir/undodir.md
config/functional-javascript
config/workshopper

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Atom ###
atom/packages/**/*
atom/storage
atom/compile-cache
atom/blob-store/**/*
atom/.apm
atom/.node-gyp

### OSX ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

