"*":
  "exception-reporting":
    userId: "5c67114c-5014-e55a-3eb3-2203808a00a7"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
    projectHome: "~/Sites/"
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
    fontFamily: "Nitti"
    preferredLineLength: 120
    fontSize: 16
    lineHeight: 1.333
  "atom-material-ui":
    rippleAccentColor: true
    compactTreeView: true
    panelContrast: true
    accentColor: "Blue"
  react: {}
  term2:
    scrollback: 2000
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-js-standard":
    checkStyleDevDependencies: true
  emmet:
    extensionsPath: "~/.atom/emmet/"
