"*":
  "atom-material-ui":
    accentColor: "Blue"
    compactTreeView: true
    panelContrast: true
    rippleAccentColor: true
    useRobotoInUI: true
  core:
    projectHome: "~/Sites/"
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  emmet:
    extensionsPath: "~/.atom/emmet/"
  "exception-reporting":
    userId: "5c67114c-5014-e55a-3eb3-2203808a00a7"
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-js-standard":
    checkStyleDevDependencies: true
  minimap: {}
  "package-sync":
    forceOverwrite: true
  react: {}
  term2:
    scrollback: 2000
  welcome:
    showOnStartup: false
