packages: [
  "atom-fuzzy-grep"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "colorful-json"
  "environment"
  "ex-mode"
  "git-plus"
  "language-gherkin"
  "language-markdown"
  "linter"
  "linter-eslint"
  "material-syntax"
  "minimap"
  "package-sync"
  "react"
  "release-notes"
  "vim-mode"
  "vim-surround"
]
