packages: [
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "ex-mode"
  "floobits"
  "git-plus"
  "language-gherkin"
  "language-markdown"
  "linter"
  "linter-eslint"
  "linter-js-standard"
  "material-syntax"
  "minimap"
  "package-sync"
  "react"
  "release-notes"
  "term3"
  "vim-mode"
  "vim-surround"
]
